.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 50px;
}

.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    gap: 30px;
}

.post{
    display: flex;
    align-items: center;
}

.conteudo_post{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.titulo_post{
    font-size: 3.2rem;
}

.texto_post{
    font-size: 1.6rem;
    text-align: justify;
}


