*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

button{
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 28px 15px;
    
}

header p{
    font-size: 48px;
    font-weight: 700;
    font-family:'Open Sans', sans-serif;
    cursor: pointer;
}

header p span{
    color: #7ED321;
}

header nav{
    display: flex;
    align-items: center;
    gap: 35px;
    

}
header a{
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

header button{
    background-color: rgba(126, 211, 33, 0.4);
    color: #1C4701;
    padding: 9px 32px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    transform: 1s;
}

header button:hover{
    background-color: #7ED321;
}

.principal-home{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.conteudo-home{
    width: 371px;
}

.conteudo-home p{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.conteudo-home button{
    background-color: #7ED321;
    color: #1C4701;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 55px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
}

.titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;

}

.conteudo-sobre-nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    
}

.texto-sobre-nos{
    width: 687px;
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 14px;
    text-align: justify;
}

.conteudo-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 45px;
}

.card{
    display: flex;
    width: 1084px;
}

.conteudo-card{
    display: flex;
    flex-direction: column;
    gap: 23px;
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.conteudo-card p{
    width: 778px;
    height: 185px;
    text-align: justify;
}

#botao-header-contato{
    background-color: #7ED321;
}

.titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.conteudo-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
}

form div{
    display: flex;
    gap: 25px;
}

.conteudo-form{
    display: flex;
    align-items: center;
}


form label{
    width: 125px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.input-padrao{
    background-color: #FFFFff;
    width: 418px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding: 12px;
    border: 1px solid #9F9F9F;
    border-radius: 7px;
    resize: none;
}


form textarea{
    height: 160px;
}

.input-padrao::placeholder{
    color: #9F9F9F;
}

form button{
    background-color: #7ED321;
    padding: 10px 45px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    color:  #1C4701;
}
